@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&display=swap");

.contianer {
  display: flex;
  margin-top: 15vh;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
}

.heading {
  color: #f8f8f8;
  font-family: "Inspiration", cursive;
  font-weight: lighter;
  font-size: 10rem;
  margin: 8px;
  @media screen and (max-width: 769px) {
    font-size: 5rem;
  }
}
