// .contianer {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 16px;
  padding: 16px;
}

input {
  height: 30px;
}

p {
  font-size: 11px;
  margin: 0;
  display: block;
  color: red;
}
