.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 600px;
  width: 100%;
  padding: 16px;
  margin: 16px;
  background-color: #f8f8f8;
  border-radius: 10px;
}
