@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&display=swap");

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  position: relative;
  @media screen and (max-width: 768px) {
    background: #ededed;
    padding-top: 32px;
    border-radius: 30px 30px 0px 0px;
  }
}

.postContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper {
  width: 400px;
  background-color: rgb(33 33 33);
  height: 170px;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 95%;
    // background-color: #3d3d3d;
    // border-bottom: 1px solid #484646;
    background-color: #ededed;
    border-bottom: 1px solid #d8d3d3;
  }
}

.title {
  padding: 0px 16px;
  margin: 16px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #ededed;
  font-size: 1.1rem;
  @media screen and (max-width: 768px) {
    color: #333232;
  }
}

.content {
  padding: 0px 16px;
  font-size: 0.9rem;
  color: #ededed;
  @media screen and (max-width: 768px) {
    color: #333232;
  }
}

.flex {
  display: flex;
  gap: 16px;
  width: 100%;
  position: absolute;
  height: 100%;
}

a,
a:visited {
  color: inherit;
}

.contentContainer {
  width: 100%;
  height: 155px;
  // overflow: hidden;
}

.dateOnHover {
  display: none;
}

.wrapper:hover .dateOnHover {
  @media screen and (min-width: 768px) {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33 33 33);
    // background-color: rgba(250, 222, 82, 0.891);
  }
}

.hideContent {
  display: none;
}

.dateParagraph {
  color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

.dateOnMobile {
  padding: 0px 16px;
  margin-top: 8px;
  font-size: 0.7rem;
  color: #333232;
}
