.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 16px;
}

.formContainer {
  width: 100%;
}
