@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&display=swap");

.header {
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

nav {
  display: none;
  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px;
  }
}

li {
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  color: #ededed;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.underline {
  display: block;
  position: relative;
  color: #ededed;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ededed;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.hamburgerMenu {
  width: 100%;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.open {
  display: none;
}

.image {
  position: fixed;
  right: 0px;
  bottom: 0px;
  opacity: 20%;
  pointer-events: none;
}

.heading {
  color: #f8f8f8;
  font-size: 3rem;
  font-family: "Inspiration", cursive;
  font-weight: lighter;
  font-size: 5rem;
  margin: 8px;
}

.hideHeading {
  display: none;
}
